<mat-card class="register">
  <img src="./../../../assets/imgs/calcme-V7-3.1.png" alt="">
  <form [formGroup]="form" class="list" (ngSubmit)="save()">
    <mat-form-field class="required" color="primary" appearance="outline">
      <mat-label class="control-label">Nome</mat-label>
      <input
          matInput
          formControlName="name"
          type="text"
          max="255"
          autocomplete="off"
          required
          >
      </mat-form-field>
      <mat-form-field class="" color="primary" appearance="outline">
        <mat-label class="control-label">Email</mat-label>
        <input
            matInput
            formControlName="email"
            type="email"
            max="255"
            autocomplete="off"
            required
            >
        </mat-form-field> 
        <mat-form-field class="required" color="primary" appearance="outline">
          <mat-label class="control-label">Telefone</mat-label>
          <input
              matInput
              formControlName="phone"
              type="text"
              prefix="+55 "
              mask="(00) 000000009"
              autocomplete="off"
              required
              >
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!form.valid">Enviar</button>
          <a [routerLink]="['/list']">Ver registros</a>
  </form>
  
</mat-card>


<!-- <div class="registered-list">
  <h3 class="registered-list__title">Registros</h3>
  <mat-card class="registered-list__register list" *ngFor="let person of persons">
    <span class="name">{{person.name}}</span>
    <div><span class="info">Telefone:</span><span>{{person.phone}}</span></div>
    <div><span class="info">Email:</span><span>{{person.email}}</span></div>
  </mat-card>

</div> -->